*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

span{
    color: var(--primary-color);
}

:root{
    --primary-color:#FAC22E;
    --secondary-color: #161627;
}

body{
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

button{
    cursor: pointer;
}


/* Typography for mobile screen starts here */
h1,h2{
    font-family: "Poppins", sans-serif;
    color: #161627;
}

h1{
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #444;
}
/* Typography for mobile screen ends here */


/* Typograpy for ipad screen  */
@media (min-width:1242px) and (max-width:1578px) {
    h1,h2{
        font-family: "Poppins", sans-serif;
        color: #161627;
    }
    h1{
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
    }

    h2{
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
    }

    h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    body{
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        font-style: normal;
        color: #444;
    }
}


/* Typography for web screen starts here */
@media screen and (min-width:1578px) {
    h1,h2{
        font-family: "Poppins", sans-serif;
        color: #161627;
    }
    h1{
        font-size: 4rem;
        font-weight: bold;
        font-style: normal;
    }
    
    h2{
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
    }

    h3{
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 100;
        font-style: normal;
    }

    body{
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        font-style: normal;
        color: #444;
    }
}

/* Header  */
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    background: white;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 4px lightgray;
}

.header-logo{
    padding: 2.5rem 5rem;  
    margin: auto;
}

.header-logo img{
    width: 2.5rem;
    height: 3.7rem;
}

.toggler{
    display: none;
}

.menu-desktop{
    display: flex;
    list-style: none;
    color: white;
    
}

.menu-desktop li{
    padding: 5rem 6.3rem 5rem 0;
}

.menu-desktop a{
    text-decoration: none;
    color: #000;
}

.bubble{
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

@media (min-width:1024px) and (max-width:1228px) {
    .menu-desktop h3{
        font-size: 1.8rem;
    }
}





/* Handburber making for mobile screen   */
@media (min-width: 0px) and (max-width: 900px) {
    .menu-wrap{
        position: fixed;
        top: 1rem;
        right: 5rem;
        z-index: 1;
    }
    
    .menu-wrap .toggler{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .menu-wrap .hamburger{
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    /* Handburger line  */
    .menu-wrap .hamburger > div{
        position: relative;
        width: 50%;
        height: 3px;
        background-color: var(--primary-color);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after{
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger > div:after{
        top: 10px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform:  rotate(135deg);
    }
    
    .menu-wrap .toggler:checked + .hamburger > div::before,
    .menu-wrap .toggler:checked + .hamburger > div::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }
    
    /* SHOW MENU  */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    
    .menu-wrap .toggler:checked ~ .hamburger > div{
        background-color: var(--secondary-color);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: 0.75s;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--primary-color);
        border-radius: 30%;
        width: 200vw;
        height: 400vw;
        display: flex;
        flex: none;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transform: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a{
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    .menu-desktop{
        display: block;
    }
    .menu-desktop h3{
        color: white;
    }
}

@media (min-width:901px) and (max-width:1019px) {
    .header-logo{
        padding: 4rem 0 2.5rem 5rem;  
        margin: auto;
    }
}


@media (min-width:1020px) {
    .header-logo{
        padding: 4rem 0 2.5rem 10rem;  
        margin: auto;
    }

  
}
/* HANDBURGER ENDS HERE  */


/* Banner Starts Here  */
.banner{
    margin-top: 9rem;
    background: url(../image/banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--secondary-color);
    overflow: hidden;
    padding: 3rem;
    display: flex;
}

.banner-text{
    padding-top: 7rem;
    color: white;
    text-align: center;
}

.banner-text p{
    font-weight: 500;
}

.banner-text h1{
    color: white;
    /* padding-top: 1rem; */
}

/* .banner-text h2{
    padding-top: 2rem;
} */


.button{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.primary-btn, .secondary-btn{
    background-color: var(--primary-color);
    padding: .9rem 2.4rem;
    border: none;
    outline: none;
    border-radius: .5rem;
}

.primary-btn h3, .secondary-btn h3{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.primary-btn img{
    width: 1rem;
    height: .8rem;
}

.secondary-btn{
    background-color: transparent;
}

.secondary-btn img{
    width: 1rem;
    height: 1rem;
}


.cloud{
    position: relative;
    left: 9rem;
    bottom: -9rem;
}


.cloud img{
    width: 80%;
}

.cloud .asset-btn{
    position: fixed;
    top: 80%;
    left: 80%;
    background-color: #808080;
    border-radius: .2rem;
}

.asset-btn h3{
    color: #161627;
    font-weight: 800;
}

.asset-btn img{
    width: 1rem;
    height: 1rem;
}

.try{
    display: none;
}

@media (min-width:665px) and (max-width:899px) {
    .cloud{
        left: 12rem;
        bottom: -12rem;
    }
}


@media screen and (min-width:900px){
    .try{
        display: block;
        width: 50%;   
    }

    .cloud img{
        display: none;
    }

    .banner{
        background: url(../image/banner-big.pn);
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .banner-text{
        padding: 10rem 0 0 5rem;
        text-align: left;
    }
    .button{
        justify-content: left;
    }
    
}

@media screen and (min-width:1578px) {
    .primary-btn h3, .secondary-btn h3{
        font-size: 2rem;
    }

    .primary-btn{
        padding: 1rem 4.8rem;
    }

    .primary-btn img{
        width: 2.8rem;
        height: 2.4rem;
    }
    
    
    .secondary-btn img{
        width: 2.7rem;
        height: 2.7rem;
    }


    .button{
        gap: 11.2rem;
    }

    .banner-text{
        padding-top: 18rem;
    }
}

/* Banner Ends Here  */



/* Mission Starts Here  */

.mission{
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

.mission-text hr{
    background-color: #2D2D3D;
    width: 50%;
    height: 3px;
    border: none;
    margin-bottom: .7rem;
}

.mission h2{
    padding-bottom: 2rem;
}

.mission p{
    margin-bottom: 1.4rem;
}

.mission-img{
    display: flex;
    flex-direction: column;
}


.mission-img img{
    width: 100%;
    padding-top: 2rem;
}







@media screen and (min-width:900px){
    .mission{
        padding: 10rem 5rem 0 5rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    .mission-img{
        display: flex;
        flex-direction: row;
        gap: 3.4rem;
    }

    .mission-img img{
        width: 15rem;
    }


    .mission-text{
        padding-top: 6.9rem;
    }
    .mission-second{
        margin-top: -10rem;
    }

}

@media (min-width:1242px) and (max-width:1578px){
    .mission{
        gap: 10rem;
    }
    .mission-text{
        padding-top: 5rem;
    }
    .mission-img img{
        width: 18rem;
    }
}

@media screen and (min-width:1578px) {
    .mission{
        padding: 10rem 10rem 0 10rem;
        gap: 20rem;
    }

    .mission-img img{
        width: 25rem;
    }
    .mission-text{
        padding-top: 10rem;
    }

    .mission-text hr{
        height: 5px;
    }
}



/* Part Starts Here  */
.part{
    background: url(../image/part-mobile.png);
    display: flex;
    flex-direction: column;
}

.part-text{
    padding: 2rem;
}

.part-text h1{
    color: white;
}

.part-form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.part-form input{
    height: 4.3rem;
    border: none;
    margin-bottom: .3rem;
}


.part-form button{
    margin-top: 0;
    display: block;
}

.part-form input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.set-btn{
    height: 4.3rem;
    background-color: var(--secondary-color);
    border: none;
}



.set-btn h3{
    color: white;
    font-weight: 900;
    text-align: center;
}

.part img{
    margin-top: 2.8rem;
}

@media screen and (min-width:900px) {
    .part{
        background: url(../image/part-background.png);
        display: flex;
        flex-direction: row;
        padding: 2rem;
        gap: 3rem;
    }

    .part img{
        width: 30%;
    }
    .part-form{
        flex-direction: row;
        margin-top: 2rem;
    }

    .part-form input::placeholder {
        font-size: 1rem;
    }
    .set-btn{
        padding: 2rem 4.7rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .part{
        padding: 5rem;
        gap: 5rem;
    }
}

@media screen and (min-width:1578px) {
    .part{
        padding: 5rem 10rem 5rem 10rem;
    }
}




/* Sign-up Starts here  */
.sign-up{
    background: url(../image/sign-up-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form-container{
    background-color: white;
    width: 100%;
    border-radius: .1rem;
    height: 12.9rem;
}

.form-holder h2{
    font-weight: 800;
    text-align: center;
    padding: 1.7rem 0;
}


.form-holder form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sign-up-form input{
    width: 50%;
    border: solid 2px var(--secondary-color);
    border-right: none;
    height: 4.3rem;
}

.sign-up-form input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: lightgray;
    padding-left: 3rem;
}

.sign-btn{
    margin-top: -.1rem;
    padding: 1.28rem 3.4rem;
    background-color: var(--secondary-color);
    border: none;
}

.sign-btn h3{
    color: white;
    font-weight: 800;
    
}
.news{
    display: none;
}


@media screen and (min-width:900px) {
    .form-container{
        width: 80%;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        gap: 1.3rem;
    }  
    
    .news{
        display: block;
        width: 30%;
        height: 18rem;
        margin-top: -5rem;
        justify-content: flex-end;
        align-items: flex-end;
    }


    .sign-up-form input{
        width: 35rem;
    }
    
}

@media (min-width:1242px) and (max-width:1578px){
    .form-container{
        height: 20rem;
    }
    .sign-btn{
        margin-top: 0;
    }
    .sign-up-form input{
        width: 35rem;
        height: 58px;
    }

    .news{
        width: 30%;
        height: 25rem;
    }

    .form-holder h2{
        padding: 5rem 0 3rem 0;
    }
}

@media screen and (min-width:1578px) {
    .form-container{
        height: 24.3rem;
    }
    .sign-btn{
        margin-top: 0;
        padding: 1.4rem 3.4rem;
    }
    .sign-up-form input{
        width: 50rem;
        height: 58px;
    }

    .news{
        width: 35%;
        height: 29.5rem;
    }

    .form-holder h2{
        padding: 5rem 0 3rem 0;
    }
}


/* Message Starts here  */
.message{
    padding: 2rem;
}

.message-img{
    width: 70%;
}

.message-flex{
    display: flex;
    gap: 1.5rem;
    padding-top: 7.8rem;
}

.message-flex hr{
    height: 100%;
    border: 2px solid #2D2D3D;
}

.message-text p{
    margin-bottom: 1.4rem;
}

@media screen and (min-width:900px) {
    .message{
        padding: 2rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    .message-img{
        width: 40%;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .message{
        padding: 2rem 5rem 2rem 5rem;
    }
}

@media screen and (min-width:1578px) {
    .message{
        padding: 2rem 10rem 2rem 10rem;
        gap: 10.9rem;
    }
    .message-img{
        width: 30%;
    }
}




/* Inspire Starts here  */
.inspire{
    padding: 2rem;
}

.inspire video{
    padding-top: 3rem;
    width: 100%;
    border-radius: 2rem;
}

.inspire-text{
    padding-top: 4rem;
}

.inspire-text p{
    margin-bottom: 1.4rem;
}

@media screen and (min-width:900px) {
    .inspire{
        display: flex;
        gap: 8rem;
        flex-direction: row-reverse;
    }

    .inspire video{
        padding-top: 7rem;
        width: 50%;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .inspire{
        padding: 2rem 5rem 2rem 5rem;
    }

    .inspire video{
        padding-top: 0;
    }
}

@media screen and (min-width:1578px) {
    .inspire{
        padding: 2rem 10rem 2rem 10rem;
    }
    .inspire video{
        padding-top: 5rem;
    }
}


/* testimony Starts here  */
.testi-background img{
    width: 100%;
}

.testimony{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/* .testimony img{
    width: 90%;
    margin: auto;
} */

.tetimony-text{
    padding-top: 2rem;
}

.tetimony-text p{
    margin-bottom: 1.4rem;
}

@media screen and (min-width:900px) {
    .testimony{
        flex-direction: row;
        gap: 7rem;
        margin-top: -9rem;
    }

    .testimony img{
        width: 50%;
    }

    .tetimony-text{
        padding-top: 18rem;
    }
    .tetimony-text h2{
        padding-bottom: 2rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .testimony{
        padding: 2rem 5rem 2rem 5rem;
    }

    .tetimony-text{
        padding-top: 25rem;
    }


}

@media screen and (min-width:1578px) {
    .testimony{
        padding: 2rem 10rem 2rem 10rem;
        gap: 10rem;
        margin-top: -18rem;
    }
    .tetimony-text{
        padding-top: 30rem;
    }
}




/* footer Starts here  */
.footer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.logo-row img{
    width: 15%;
}

.logo-row p{
    padding-top: 1.4rem;
    /* width: 70ch; */
}

.page-row{
    padding-top: 3rem;
}

.page-row h2{
    padding-bottom: 1rem;
}

.page-row a h3{
    padding-bottom: 1rem;
}

.contact-row{
    padding-top: 2rem;
}
.contact-row img{
    width: 15%;
}

@media screen and (min-width:900px) {
    .footer{
        flex-direction: row;
        gap: 5rem;
    }

    .logo-row p{
        width: 70ch;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .footer{
        padding: 2rem 5rem 2rem 5rem;
    }
}

@media screen and (min-width:1578px) {
    .footer{
        padding: 5rem 10rem 2rem 10rem;
        gap: 20rem;
    }
}




/* ABOUT US STYLE STARTS HERE  */
.about{
    background: url(../image/about-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    padding: 2rem 0 0 2rem;
    margin-top: 9rem;
}

.about-text{
    padding-top: 4rem;
}

.about p{
    margin-bottom: 1.4rem;
    font-weight: 600;
}

.about img{
    display: none;
}

@media screen and (min-width:900px) {
    .about{
        background: url(../image/about-mobile.pn);
        display: flex;
        justify-content: space-between;
        gap: 7.5rem;
    }
    .about-text{
        padding-top: 7rem;
    }
    .about img{
        display: block;
        width: 50%;
        margin-top: -5rem;
    }

    .about p{
        margin-bottom: 1.4rem;
        font-weight: normal;
    }

}

@media (min-width:1242px) and (max-width:1578px){
    .about{
        padding: 2rem 0 0 5rem;
        gap: 10rem;
    }

    .about-text{
        padding-top: 10rem;
    }
    .about img{
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (min-width:1578px) {
    .about{
        padding: 2rem 0 0 10rem;
        gap: 15rem;
    }
    .about-text{
        padding-top: 13rem;
    }
    .about img{
        margin-top: 0;
    }
}


/* inspire Starts here  */
.inspiration{
    padding: 2rem;
}

.inspiration img{
    width: 70%;
    margin: auto;
}


.inspiration-text p{
    margin-bottom: 1.4rem;
}

.inspiration-text button{
    margin-bottom: 2rem;
}

@media screen and (min-width:900px) {
    .inspiration{
        display: flex;
        gap: 8rem;
    }

    .inspiration img{
        width: 40%;
    }

    .inspiration-text{
        padding-top: 3rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .inspiration{
        padding: 12rem 5rem 2rem 5rem;
    }

}

@media screen and (min-width:1578px) {
    .inspiration{
        padding: 2rem 10rem 2rem 10rem;
        gap: 10rem;
    }

}


/* Goals Starts here  */
.goal{
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    background-color: #FFF0C7;
}

.goal-text h2{
    padding-bottom: 2rem;
}

.goal-collapse{
    padding-top: 3rem;
}

.collapsible{
    margin-bottom: 3rem;
}
.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
}

.collapsible__header img{
    width: 4%;
    height: 4%;
}

.collapsile__chevron{
    transform: rotate(-90deg);
    transition: transform .3s;
}

.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible__content hr{
    margin-top: 2rem;
    border: 1px solid white;
}

.collapsible__expanded .collapsile__chevron{
    transform: rotate(0);
}

.collapsible__expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

@media screen and (min-width:900px) {
    .goal{
        flex-direction: row;
        gap: 10rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .goal{
        padding: 10rem 5rem 0 5rem;
    }

}

@media screen and (min-width:1578px) {
    .goal{
        padding: 10rem 10rem 0 10rem;
        gap: 10rem;
    }

}



/* success Starts here */
.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5rem;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3.6rem;
}

@media screen and (min-width:900px) {
    .success{
        flex-direction: row;
        justify-content: space-around;
    }
}






.volunteer{
    padding: 2rem;
    background-color: #857E7B;
}

.volunteer-text{
    color: white;
}

.volunteer-text h1{
    color: white;
}


.elips-holder{
    display: flex;
    margin: 3rem;
    color: white;
}


.elipse{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elipse img{
    width: 70%;
}


@media screen and (min-width:900px) {
    .volunteer{
        display: flex;
        gap: 10rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .volunteer{
        padding: 10rem 5rem 0 5rem;
    }

}

@media screen and (min-width:1578px) {
    .volunteer{
        padding: 10rem 10rem 0 10rem;
    }

    .elipse img{
        width: 90%;
    }

}