*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

span{
    color: var(--primary-color);
}

:root{
    --primary-color:#FAC22E;
    --secondary-color: #161627;
}

body{
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

button{
    cursor: pointer;
}

#loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  #loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1001;
  }
  
  .section-left {
    left: 0;
  }
  
  .section-right {
    right: 0;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #content {
    display: none;
  }


/* Typography for mobile screen starts here */
h1,h2{
    font-family: "Poppins", sans-serif;
    color: #161627;
}

h1{
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #444;
}

.header-logo{
    padding: 2.5rem 2rem;  
    margin: auto;
}
/* Typography for mobile screen ends here */


/* Typograpy for ipad screen  */
@media (min-width:1242px) and (max-width:1578px) {
    h1,h2{
        font-family: "Poppins", sans-serif;
        color: #161627;
    }
    h1{
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
    }

    h2{
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
    }

    h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    body{
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        font-style: normal;
        color: #444;
    }

    .header-logo{
        padding: 5rem 0 2.5rem 5rem;  
        margin: auto;
    }
}


/* Typography for web screen starts here */
@media screen and (min-width:1578px) {
    h1,h2{
        font-family: "Poppins", sans-serif;
        color: #161627;
    }
    h1{
        font-size: 4rem;
        font-weight: bold;
        font-style: normal;
    }
    
    h2{
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
    }

    h3{
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 100;
        font-style: normal;
    }

    body{
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        font-style: normal;
        color: #444;
    }

    .header-logo{
        padding: 5rem 0 2.5rem 10rem;  
        margin: auto;
    }
}

/* Header  */
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    overflow: hidden; /* Hide any potential overflow */
}


.logo{
    overflow: hidden;
}

.header-logo img{
    width: 1.5rem;
    height: 2.7rem;
}

.toggler{
    display: none;
}

.menu-desktop{
    display: flex;
    list-style: none;
    color: white;
    
}

.menu-desktop li{
    padding: 5rem 6.3rem 5rem 0;
}

.menu-desktop a{
    text-decoration: none;
    color: #000;
}

.bubble{
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: none;
}

.menu-desktop li a h3:hover{
    font-weight: 600;
}

.menu-desktop li a:active{
    font-weight: 600;
}



@media (min-width:1024px) and (max-width:1228px) {
    .menu-desktop h3{
        font-size: 1.8rem;
    }
}





/* Handburber making for mobile screen   */
@media (min-width: 0px) and (max-width: 900px) {
    .menu-wrap{
        position: fixed;
        top: 1rem;
        left: 50%;
        z-index: 1;
        width: 40%;
    }
    
    .menu-wrap .toggler{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .menu-wrap .hamburger{
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    /* Handburger line  */
    .menu-wrap .hamburger > div{
        position: relative;
        width: 50%;
        height: 3px;
        background-color: var(--primary-color);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after{
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger > div:after{
        top: 10px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform:  rotate(135deg);
    }
    
    .menu-wrap .toggler:checked + .hamburger > div::before,
    .menu-wrap .toggler:checked + .hamburger > div::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }
    
    /* SHOW MENU  */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    
    .menu-wrap .toggler:checked ~ .hamburger > div{
        background-color: var(--secondary-color);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: 0.75s;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--primary-color);
        border-radius: 30%;
        width: 200vw;
        height: 400vw;
        display: flex;
        flex: none;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transform: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a{
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    .menu-desktop{
        display: block;
    }
    .menu-desktop h3{
        color: white;
    }
}
/* HANDBURGER ENDS HERE  */


/* Banner Starts Here  */
.banner{
    margin-top: 9rem;
    background: url(../image/banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--secondary-color);
    overflow: hidden;
    padding: 3rem;
    display: flex;
}

.banner-text{
    padding-top: 7rem;
    color: white;
    text-align: center;
}

.banner-text p{
    font-weight: 500;
}

.banner-text h1{
    color: white;
    /* padding-top: 1rem; */
}

/* .banner-text h2{
    padding-top: 2rem;
} */


.button{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.primary-btn, .secondary-btn{
    background-color: var(--primary-color);
    padding: .9rem 2.4rem;
    border: none;
    outline: none;
    border-radius: .5rem;
}

.primary-btn h3, .secondary-btn h3{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.primary-btn img{
    width: 1rem;
    height: .8rem;
}

.secondary-btn{
    background-color: transparent;
}

.secondary-btn img{
    width: 1rem;
    height: 1rem;
}


.cloud{
    position: relative;
    left: 9rem;
    bottom: -9rem;
}


.cloud img{
    width: 80%;
}

.cloud .asset-btn{
    position: fixed;
    top: 80%;
    left: 80%;
    background-color: #808080;
    border-radius: .2rem;
}

.asset-btn h3{
    color: #161627;
    font-weight: 800;
}

.asset-btn img{
    width: 1rem;
    height: 1rem;
}

.try{
    display: none;
}

@media (min-width:665px) and (max-width:899px) {
    .cloud{
        left: 12rem;
        bottom: -12rem;
    }
}


@media screen and (min-width:900px){
    .try{
        display: block;
        width: 50%;   
    }

    .cloud img{
        display: none;
    }

    .banner{
        background: url(../image/banner-big.pn);
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .banner-text{
        padding: 10rem 0 0 5rem;
        text-align: left;
    }
    .button{
        justify-content: left;
    }

    .header-logo img{
        width: 2.5rem;
        height: 3.7rem;
    }
    
}

@media screen and (min-width:1578px) {
    .primary-btn h3, .secondary-btn h3{
        font-size: 2rem;
    }

    .primary-btn{
        padding: 1rem 4.8rem;
    }

    .primary-btn img{
        width: 2.8rem;
        height: 2.4rem;
    }
    
    
    .secondary-btn img{
        width: 2.7rem;
        height: 2.7rem;
    }


    .button{
        gap: 11.2rem;
    }

    .banner-text{
        padding: 18rem 0 0 10rem;
    }
}

/* Banner Ends Here  */



/* Mission Starts Here  */

.mission{
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

.mission-text hr{
    background-color: #2D2D3D;
    width: 50%;
    height: 3px;
    border: none;
    margin-bottom: .7rem;
}

.mission h2{
    padding-bottom: 2rem;
}

.mission p{
    margin-bottom: 1.4rem;
}

.mission-img{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.mission-img img{
    width: 100%;
    padding-top: 2rem;
    
}







@media screen and (min-width:900px){
    .mission{
        padding: 10rem 5rem 0 5rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    .mission-img{
        display: flex;
        flex-direction: row;
        gap: 3.4rem;
    }

    .mission-img img{
        width: 15rem;
    }


    .mission-text{
        padding-top: 6.9rem;
    }
    .mission-second{
        margin-top: -10rem;
    }

}

@media (min-width:1242px) and (max-width:1578px){
    .mission{
        gap: 10rem;
    }
    .mission-text{
        padding-top: 5rem;
    }
    .mission-img img{
        width: 18rem;
    }
    .header-logo img{
        width: 2.5rem;
        height: 3.7rem;
    }
}

@media screen and (min-width:1578px) {
    .mission{
        padding: 10rem 10rem 0 10rem;
        gap: 20rem;
    }

    .mission-img img{
        width: 25rem;
    }
    .mission-text{
        padding-top: 10rem;
    }

    .mission-text hr{
        height: 5px;
    }
    .header-logo img{
        width: 2.5rem;
        height: 3.7rem;
    }

}



/* Part Starts Here  */
.part{
    background: url(../image/part-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.part-text{
    padding: 2rem;
}

.part-text h1{
    color: white;
}

.part-text h2{
    margin-top: 4rem;
    color: white;
}

.part-form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.part-form input{
    height: 4.3rem;
    border: none;
    margin-bottom: .3rem;
    text-align: center;
}

.part-form input{
    outline: 0;
}


.part-form button{
    margin-top: 0;
    display: block;
}

.part-form input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}



.set-btn{
    height: 4.3rem;
    background-color: var(--secondary-color);
    border: none;
}



.set-btn h3{
    color: white;
    font-weight: 900;
    text-align: center;
}

.part img{
    margin-top: 2.8rem;
    width: 100%;
}

@media screen and (min-width:900px) {
    .part{
        background: url(../image/part-background.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: row;
        padding: 2rem;
        gap: 3rem;
        height: 40rem;

    }

    .part img{
        position: relative;
        top: 9rem;
        width: 30%;
        margin: 0;
        border-radius: 1rem;
    }
    .part-form{
        flex-direction: row;
        margin-top: 2rem;
    }

    .part-form input::placeholder {
        font-size: 1rem;
    }
    .set-btn{
        padding: 0 4.7rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .part{
        padding: 5rem;
        gap: 5rem;
        height: 75rem;
    }
    .part img{
        position: relative;
        top: 9rem;
        width: 25%;
        margin: 0;
        border-radius: 1rem;
    }
    .part-form input::placeholder {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1578px) {
    .part{
        padding: 5rem 10rem 5rem 10rem;
        gap: 8rem;
        height: 80rem;
    }

    .part img{
        top: 15rem;
        width: 40%;
    }
    .part-form input::placeholder {
        font-size: 1.2rem;
    }
}




/* Sign-up Starts here  */
.sign-up{
    background: url(../image/sign-up-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5rem;
}

.about-sign-up{
    margin: 0;
}

.form-container{
    background-color: white;
    width: 100%;
    border-radius: .1rem;
    height: 12.9rem;
}

.form-holder h2{
    font-weight: 800;
    text-align: center;
    padding: 1.7rem 0;
}


.form-holder form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sign-up-form input{
    width: 50%;
    border: solid 2px var(--secondary-color);
    border-right: none;
    height: 4.3rem;
    text-align: center;
    transition: border-color 0.5s;

}

.sign-up-form input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: lightgray;
    padding-left: 3rem;
}

.sign-up-form input:focus{
    border-color: var(--primary-color);
    outline: 0;
}

.sign-btn{
    margin-top: -.1rem;
    padding: 1.28rem 3.4rem;
    background-color: var(--secondary-color);
    border: none;
}

.sign-btn h3{
    color: white;
    font-weight: 800;
    
}
.news{
    display: none;
}


@media screen and (min-width:900px) {
    .form-container{
        width: 80%;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        gap: 1.3rem;
    }  
    
    .news{
        display: block;
        width: 30%;
        height: 18rem;
        margin-top: -5rem;
        justify-content: flex-end;
        align-items: flex-end;
    }


    .sign-up-form input{
        width: 35rem;
    }

    .sign-up{
        margin-top: 18rem;
    }
    .about-sign-up{
        margin: 0;
    }
    
}

@media (min-width:1242px) and (max-width:1578px){
    .form-container{
        height: 20rem;
    }
    .sign-btn{
        margin-top: 0;
    }
    .sign-up-form input{
        width: 35rem;
        height: 58px;
    }

    .news{
        width: 30%;
        height: 25rem;
    }

    .form-holder h2{
        padding: 5rem 0 3rem 0;
    }
    .about-sign-up{
        margin: 0;
    }
}

@media screen and (min-width:1578px) {
    .form-container{
        height: 24.3rem;
    }
    .sign-btn{
        margin-top: 0;
        padding: 1.4rem 3.4rem;
    }
    .sign-up-form input{
        width: 50rem;
        height: 58px;
    }

    .news{
        width: 30%;
        height: 29.5rem;
    }

    .form-holder h2{
        padding: 5rem 0 3rem 0;
    }
    .about-sign-up{
        margin: 0;
    }
}


/* Message Starts here  */
.message{
    padding: 2rem;
}

.message-img{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.message-flex{
    display: flex;
    gap: 1.5rem;
    padding-top: 7.8rem;
}

.message-flex hr{
    height: 100%;
    border: 2px solid #2D2D3D;
}

.message-text p{
    margin-bottom: 1.4rem;
}

@media screen and (min-width:900px) {
    .message{
        padding: 2rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    .donate-message-text p{
        width: 80%;
    }

    .message-img{
        width: 40%;
    }

    .donate-img{
        width: 30%;
    }
   
}

@media (min-width:1242px) and (max-width:1578px){
    .message{
        padding: 2rem 5rem 2rem 5rem;
    }
    .message-flex{
        padding-top: 15rem;
    }

}

@media screen and (min-width:1578px) {
    .message{
        padding: 2rem 10rem 2rem 10rem;
        gap: 10.9rem;
    }
    .message-flex{
        padding-top: 15rem;
    }

    .message-img{
        width: 25%;
    }
}




/* Inspire Starts here  */
.inspire{
    padding: 2rem;
}

.inspire video{
    padding-top: 3rem;
    width: 100%;
    border-radius: 2rem;
}

.inspire-text{
    padding-top: 4rem;
}

.inspire-text p{
    margin-bottom: 1.4rem;
}

@media screen and (min-width:900px) {
    .inspire{
        display: flex;
        gap: 8rem;
        flex-direction: row-reverse;
    }

    .inspire video{
        padding-top: 7rem;
        width: 40%;
        height: 40rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .inspire{
        padding: 2rem 5rem 2rem 5rem;
    }

    .inspire video{
        padding-top: 0;
    }
}

@media screen and (min-width:1578px) {
    .inspire{
        padding: 2rem 10rem 2rem 10rem;
    }
    .inspire video{
        padding-top: 5rem;
        width: 50%;
        height: 60rem;
    }
    .inspire-text{
        width: 50%;
    }
}


/* testimony Starts here  */
.testi-background img{
    width: 100%;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;  
}

.slide-wrapper {
    display: flex;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.testimony {
    flex-shrink: 0;
    width: 100%;
    padding: 2rem;
    display: none; /* Hide all testimonies by default */
}

.testimony.active {
    display: flex; /* Display active testimony */
}

.tetimony-text {
    padding-top: 2rem;
}

.tetimony-text p {
    margin-bottom: 1.4rem;
}

.testimony img {
    width: 90%;
    margin: auto;
}

.tes-display{
    flex-direction: column;
}

.testi-header{
    text-align: center;
}


/* Slider navigation styles */
.slider-nav {
    position: relative;
    display: flex;
    justify-content: center; /* Horizontally center the navigation */
    bottom: 1px;
    z-index: 1;
}



.slider-nav a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin: 0 5px;
}

.slider-nav a.active {
    opacity: 1;
}

/* Adjustments for different screen sizes */
@media screen and (min-width: 900px) {
    .testimony {
        flex-direction: row;
        gap: 7rem;
        margin-top: -9rem;
    }

    .testimony img {
        width: 40%;
        margin-top: 6rem;
    }

    .tetimony-text {
        padding-top: 25rem;
    }
    .testi-header{
        display: none;
    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .testimony {
        padding: 2rem 5rem;
    }
}

@media screen and (min-width: 1578px) {
    .testimony {
        padding: 2rem 10rem;
        gap: 10rem;
        margin-top: -18rem;
    }
    .tetimony-text {
        padding-top: 50rem;
    }
    .testimony img {
        width: 40%;
        margin-top: 15rem;
    }
}









/* footer Starts here  */
.footer{
    padding: 2rem;
    background-color: #2D2D3D;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer a{
    color: white;
}
.footer h2{
    color: white;
}



.footer-logo{
    display: flex;
    gap: 5rem;
}

.footer-logo img{
    width: 7rem;
    height: 3rem;
}




.touch{
    margin-top: 4rem;
}

.touch h2{
    padding-bottom: 1rem;
}
.touch a h3{
    padding-bottom: 1rem;
}
.foot-abt h2{
    padding-top: 4rem;
    margin-bottom: 1rem;
}
.foot-abt a h3{
    padding-bottom: 1rem;
}

.mail{
    margin-bottom: 4rem;
}

.mail h2{
    padding-bottom: 1rem;
}

.mail img{
    width: 5%;
}
.contact-footer{
    margin-top: 4rem;
}

@media screen and (min-width: 900px){
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    .footer p{
        width: 15pc;
    }

    .footer-logo{
        display: block;
    }

    .mail img{
        width: 8%;
    }
 
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .footer {
        padding: 2rem 5rem;
        gap: 8rem;
    }


}

@media screen and (min-width: 1578px) {
    .footer {
        padding: 2rem 10rem;
        gap: 10rem;
    }

    .footer p{
        width: 25pc;
    }
}






/* ABOUT US STYLE STARTS HERE  */
.about{
    background: url(../image/about-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0 6rem 2rem;
    margin-top: 9rem;
}

.about-text{
    padding-top: 4rem;
}

.about p{
    margin-bottom: 1.4rem;
    font-weight: 600;
}

.about img{
    display: none;
}

@media screen and (min-width:900px) {
    .about{
        background: url(../image/about-mobile.pn);
        display: flex;
        justify-content: space-between;
        gap: 7.5rem;
    }
    .about-text{
        padding-top: 7rem;
    }
    .about img{
        display: block;
        width: 30%;
        margin-top: 0;
    }

    .about p{
        margin-bottom: 1.4rem;
        font-weight: normal;
    }

}

@media (min-width:1242px) and (max-width:1578px){
    .about{
        padding: 2rem 0 0 5rem;
        gap: 10rem;
    }

    .about-text{
        padding-top: 10rem;
    }
    .about img{
        margin-top: 0;
        width: 30%;
    }
}

@media screen and (min-width:1578px) {
    .about{
        padding: 2rem 0 0 10rem;
        gap: 15rem;
    }
    .about-text{
        padding-top: 13rem;
    }
    .about img{
        margin-top: 0;
        width: 30%;
    }
}




/* Who we are Starts  */
.who{
    padding: 2rem;
}
.who-holder{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.7rem;
}

.value{
    width: 100%;
    margin: auto;
    background-color: #F8F8F9;
    padding: 2rem;
    border-radius: .5rem;
    margin-bottom: 4rem;
}

.value img{
    width: 100%;
}

.value hr{
    background-color: var(--primary-color);
    width: 5rem;
    height: .5rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.value h2{
    margin-bottom: 1rem;
}




@media screen and (min-width:900px){
    .values-holder{
        display: flex;
        gap: 2rem;
    }

    .who-holder{
        background-color: #F8F8F9;
        padding: 5rem;
        border-radius: 1rem;
    }
    .who-holder p{
        padding-top: 1rem;
        width: 33pc;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .who{
        padding: 20rem 5rem 5rem 5rem;
    }
    .values-holder{
        gap: 4rem;
    }
    .value{
        padding: 4rem;
    }
}

@media screen and (min-width:1578px) {
    .who{
        padding: 2rem 10rem 0 10rem;
    }
    .values-holder{
        gap: 6rem;
    }
    .value{
        padding: 6rem;
    }
    .who-holder p{
        padding-top: 1rem;
        width: 43pc;
    }
}


/* inspire Starts here  */
.inspiration{
    padding: 2rem;
}

.inspiration img{
    width: 70%;
    margin: auto;
}


.inspiration-text p{
    margin-bottom: 1.4rem;
}

.inspiration-text button{
    margin-bottom: 2rem;
}

@media screen and (min-width:900px) {
    .inspiration{
        display: flex;
        gap: 8rem;
    }

    .inspiration img{
        width: 40%;
    }

    .inspiration-text{
        padding-top: 3rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .inspiration{
        padding: 12rem 5rem 2rem 5rem;
    }

}

@media screen and (min-width:1578px) {
    .inspiration{
        padding: 2rem 10rem 2rem 10rem;
        gap: 10rem;
    }

}


/* Goals Starts here  */
.goal{
    padding: 8rem 2rem 18rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #FFF0C7;
}

.goal-text h2{
    padding-bottom: 2rem;
}

.goal-collapse{
    padding-top: 3rem;
}

.collapsible{
    margin-bottom: 3rem;
}
.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
    font-weight: 800;
}

.collapsible__header img{
    width: 4%;
    height: 4%;
}

.collapsile__chevron{
    transform: rotate(-90deg);
    transition: transform .3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}


.collapsible__content hr{
    margin-top: 2rem;
    border: 1px solid white;
}

.collapsible__expanded .collapsile__chevron{
    transform: rotate(0);
}

/* .collapsible__expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
} */

@media screen and (min-width:900px) {
    .goal{
        flex-direction: row;
        gap: 10rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .goal{
        padding: 10rem 5rem 20rem 5rem;
    }

}

@media screen and (min-width:1578px) {
    .goal{
        padding: 10rem 10rem 20rem 10rem;
        gap: 10rem;
    }

}



/* success Starts here */
.success-holder{
    position: absolute;
    right: 0;
    left: 0;
}
.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5rem;
    width: 90%;
    margin: auto;
    border-radius: .5rem;
    margin-top: -18rem;
    background-color: white;
    z-index: 9999;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3.6rem;
}

@media screen and (min-width:900px) {
    .success{
        flex-direction: row;
        justify-content: space-around;
        margin-top: -8rem;
        width: 90%;
        height: 20rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .success{
        margin-top: -13rem;
    }

}

@media screen and (min-width:1578px) {
    .success{
        margin-top: -13rem;
    }

}





/* volunteer Starts here */
.volunteer{
    padding: 2rem;
    background-color: #857E7B;
    padding-top: 25rem;
}

.volunteer-text{
    color: white;
}

.volunteer-text h1{
    color: white;
}


.elips-holder{
    display: flex;
    margin: 3rem;
    color: white;
}


.elipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.elipse img{
    width: 70%;
}


@media screen and (min-width:900px) {
    .volunteer{
        display: flex;
        gap: 10rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .volunteer{
        padding: 10rem 5rem 0 5rem;
    }
    
        .elips-holder{
        gap: 5rem;
    }

    .elipse p{
        font-size: 1.2rem;
        padding-top: .8rem;
    }

}

@media screen and (min-width:1578px) {
    .volunteer{
        padding: 10rem 10rem 0 10rem;
    }

    .elipse img{
        width: 90%;
    }

}








/* Work Page starts here  */
.work {
    position: relative;
    margin-top: 9rem;
}

.work-text-img{
    width: 100%;
}
.work-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 2rem;
    width: 100%;
    color: white;
}

.work h1 {
    color: #fff;
}

.number-holder {
    display: flex;
    gap: 2.4rem;
}

.number-work h1 {
    color: #DEFFF2;
}

.number-work {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.work-img {
    display: none;
}

@media screen and (min-width:900px) {
    .work {
        display: flex;
    }

    .work-img {
        display: block;
        width: 50%;
    }
    .work-text-img{
        width: 50%;
    }
    .text-paragraph{
        width: 25pc;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .work-text{
        padding: 10rem 5rem 0 5rem;
    }
    .text-paragraph{
        width: 30pc;
    }
    .text-paragraph-h1{
        width: 35pc;
    }

}

@media screen and (min-width:1578px) {
    .work-text{
        padding: 10rem 10rem 0 10rem;
    }
    .text-paragraph{
        width: 40pc;
    }
    .text-paragraph-h1{
        width: 35pc;
    }
}



/* Our Partners  */
.partners {
    padding: 2rem;
    text-align: center;
}

.partners-img-container {
    overflow: hidden;
}

.partners-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: scroll 20s linear infinite;
}

.partners-img img {
    width: 15%;
    height: 15%;
    margin-right: 70px; /* Add space between images */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



@media screen and (min-width:900px){
    .partners-img img {
        width: 10%;
        height: 15%;
        margin-right: 70px; /* Add space between images */
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .partners{
        padding: 4rem 5rem 0 5rem;
    }

}

@media screen and (min-width:1578px) {
    .partners{
        padding: 4rem 10rem 0 10rem;
    }
    .partners-img img {
        width: 5%;
        height: 10%;
        margin-right: 70px; /* Add space between images */
    }
}





/* program  */
.programs{
    padding: 2rem;
    margin-top: 3rem;
}

.programs hr{
    width: 30%;
    height: .5rem;
    background-color: #2D2D3D;
    border: none;
    margin-bottom: .8rem;
}

.program-card-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4rem;
    margin-top: 4rem;
}

.program-card img{
    width: 100%;
}

.program-card p{
    padding-top: 2rem;
}

@media screen and (min-width:900px){
    .program-card-holder{
        flex-direction: row;
    }

    .programs hr{
        width: 15%;
    }

    .program-lead-text{
        width: 45pc;
        padding-top: 2rem;
    }

}

@media (min-width:1242px) and (max-width:1578px){
    .programs{
        padding: 4rem 5rem 0 5rem;
    }
    .program-lead-text{
        width: 55pc;
    }

}

@media screen and (min-width:1578px) {
    .programs{
        padding: 4rem 10rem 0 10rem;
        margin-top: 5rem;
    }
    .programs hr{
        width: 15%;
    }
    .program-card img{
        width: 51.1rem;
        height: 46.2rem;
    }
    .program-card p{
        width: 30pc;
    }
    .program-lead-text{
        width: 68pc;
    }
}



/* Get Involved Page  */
.connect{
    margin-top: 9rem;
    padding: 2rem 0 0 2rem;
    background-color: var(--secondary-color);
    color: white;
    height: 50rem;
}

.connect-text{
    padding: 6rem 2rem 2rem 0;
}

.connect-text h1{
    color: white;
}
.connect-img{
    width: 100%;
}

@media screen and (min-width:900px){
    .connect{
        display: flex;
        height: 30rem;
        gap: 3rem;
    }

    .connect-img{
        width: 60%;
        height: 40rem;
    }


}

@media (min-width:1242px) and (max-width:1578px){
    .connect{
        padding: 4rem 0 0 5rem;
        height: 50rem;
    }
    .connect-img{
        width: 60%;
        height: 60rem;
    }

}

@media screen and (min-width:1578px) {
    .connect{
        padding: 4rem 0 0 10rem;
        height: 65rem;
        gap: 10rem;
    }

    .connect-img{
        width: 60%;
        height: 80rem;
    }

    .connect-text{
        padding-top: 15rem;
    }

}


/* involved  */
.involved {
    margin-top: 25rem;
    padding: 2rem;
}

.donate-involved{
    margin-top: 2rem;
}

.card {
    position: relative;
    width: calc(100% - 2rem); /* Adjusted width to accommodate space */
    margin-right: 2rem; 
}

.card img {
    width: 25.9rem;
    height: 30.7rem;
    display: block;
}

.involved__card__content {
    position: absolute;
    bottom: 1rem;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}

.arrow {
    position: absolute;
    top: calc(50% - 3.3rem); /* Adjusted position */
    width: 4rem; /* Reduced size */
    height: 4rem; /* Reduced size */
    z-index: 999; /* Ensure arrows are above other content */
}

.left__arrow {
    left: 2rem;
    rotate: 180deg;
    cursor: pointer;
}
.left__arrow img{
    width: 3rem;
}
.right__arrow {
    right: 2rem;
    cursor: pointer;
}
.right__arrow img{
    width: 3rem;
}

.involved__card__scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0 0; /* Adjusted margin */
    padding: 0 2rem; /* Adjusted padding */
}

.involved__card__scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

@media (min-width:568px) and (max-width:899px) {
    .involved{
        margin-top: 50rem;
    }
    .donate-involved{
        margin-top: 2rem;
    }
}

@media screen and (min-width:900px){
    .card img {
        width: 30.9rem;
        height: 40rem;
        display: block;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .involved{
        padding: 4rem 0 0 5rem;
    }

    .card img {
        width: 35.9rem;
        height: 45rem;
        display: block;
    }
}

@media screen and (min-width:1578px) {
    .involved{
        padding: 4rem 0 0 10rem;
    }
    .card img {
        width: 50.9rem;
        height: 63.7rem;
        display: block;
    }
}


/* promt  */
.promt{
    background: url(..//image/involve.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0 4rem 0;
}

.index-promt{
    margin-top: 3rem;
}



.article{
    background-color: var(--secondary-color);
}

.article h2{
    color: white;
    padding-bottom: 1rem;
}

.donate-promt{
    background-color: var(--primary-color);
}

.donate-promt h2{
    color: black;
    padding-bottom: 1rem;
}

.donate-promt p{
    color: black;
}

.promt-holder{
    max-width: 90%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    padding: 4rem;
    color: white;
}


.anchor-promt{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5rem;
}

.promt-btn{
    padding: 1rem 4rem;
}

.promt-btn2{
    padding: 1rem 4rem;
    background-color: var(--secondary-color);
}

.donate-btn{
    background-color: var(--secondary-color);
}

@media screen and (min-width:900px){
    .promt{
        display: flex;
        gap: 4rem;
        padding: 8rem 2rem 4rem 2rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .promt{
        padding: 8rem 5rem 4rem 5rem;
        margin-top: 5rem;
    }
}

@media screen and (min-width:1578px) {
    .promt{
        padding: 8rem 10rem 4rem 10rem;
        margin-top: 5rem;
    }
}



/* question  */
.question{
    padding: 2rem;
}
.question img{
    width: 100%;
}

.question-flex{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}


.question-message-flex{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.question-message-flex textarea{
    width: 33rem;
    padding: 2rem 3rem;
    border: solid 1px lightgray;
    border-radius: .5rem;
    transition: border-color .5s;
}

.question-message-flex textarea:focus{
    outline: 0;
    border-color: var(--primary-color);
}

.question-flex input{
    height: 3rem;
    width: 15rem;
    padding-left: 3rem;
    border: solid 1px lightgray;
    border-radius: .5rem;
    transition: border-color .5s;
}

.question-flex input:focus{
    outline: 0;
    border-color: var(--primary-color);
}


@media screen and (min-width:900px) {
    .question{
        display: flex;
        gap: 6rem;
    }
    .question img{
        width: 40%;
    }
    .question-form{
        margin-top: 9rem;
    }
    .question-flex input{
        height: 3rem;
        width: 22rem;
    }
    .question-message-flex textarea{
        width: 100%;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .question{
        padding: 2rem 5rem 2rem 5rem;
        gap: 10rem;
    }
    .question img{
        width: 30%;
    }

    .question-flex input{
        height: 4rem;
        width: 30rem;
    }
}

@media screen and (min-width:1578px) {
    .question{
        padding: 2rem 10rem 2rem 10rem;
        gap: 30rem;
    }

    .question img{
        width: 35%;
    }

    .question-flex input{
        height: 4rem;
        width: 30rem;
    }
    
}


.contact{
    padding: 2rem;
}

.contact-info h2{
    padding: 2rem 0 1rem 0;
}
.map{
    margin-top: 3rem;
}

.map iframe{
    width: 100%;
}

@media screen and (min-width:900px){
    .contact{
        display: flex;
        gap: 5rem;
    }

    .map iframe{
        width: 50rem;
        height: 40rem;
    }

    .contact-text{
        margin-top: 10rem;
    }

    .contact-info{
        display: flex;
        gap: 5rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .contact{
        padding: 2rem 5rem 2rem 5rem;
    }

    .contact-text{
        margin-top: 8rem;
    }

    .contact-info{
        gap: 8rem;
    }
}

@media screen and (min-width:1578px) {
    .contact{
        padding: 2rem 10rem 2rem 10rem;
        gap: 30rem;
    }

    .map iframe{
        width: 70rem;
        height: 60rem;
    }
}






/* Volunteer-page  */
.Volunteer-page{
    padding: 2rem;
    margin-top: 7rem;
}

.Volunteer-img-page{
    width: 100%;
}
@media screen and (min-width:900px) {
    .Volunteer-page{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 9rem;
        gap: 10rem;
    }

    .Volunteer-img-page{
        width: 40%;
    }

    .Volunteer-text-page{
        margin-top: 9rem;
    }
}

@media (min-width:1242px) and (max-width:1578px){
    .Volunteer-page{
        padding: 2rem 5rem 2rem 5rem;
        gap: 15rem;
        margin-top: 12rem;
    }
}

@media screen and (min-width:1578px) {
    .Volunteer-page{
        padding: 2rem 10rem 2rem 10rem;
        gap: 40rem;
    }
    .Volunteer-img-page{
        width: 35%;
    }
}


/* Volunteer-page-Stories  */
.stories {
    padding: 2rem;
}

.stories hr {
    width: 40%;
    height: .5rem;
    background-color: var(--secondary-color);
    border: none;
    margin-bottom: 1.6rem;
}

.story-img {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.v-story {
    width: 85%;
    
}

.story-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.story-icon img {
    width: 50%; /* Set initial width */
}

.story-text {
    margin-top: 2rem;
}

@media screen and (min-width: 900px) {
    .story-flex {
        display: flex;
        gap: 5rem;
        margin-bottom: 5rem;
    }

    .story-icon img {
        width: 50%; /* Adjust width for larger screens */
    }

    .story-text-holdder p{
        width: 60pc;
    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .stories {
        padding: 2rem 5rem 2rem 5rem;
    }
}

@media screen and (min-width: 1578px) {
    .stories {
        padding: 2rem 10rem 2rem 10rem;
    }

    .story-text p{
        width: 45pc;
    }
}






/* Donate page  */
.donate-header{
    padding: 2rem;
    background-color: var(--secondary-color); 
    margin-top: 8rem;
}

.donate-text{
    text-align: center;
    color: #fff;
}

.donate-text h1{
    color: #fff;
}

.donate-header img{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

@media screen and (min-width: 900px) {
    .donate-header{
        margin-top: 13rem;
    }

    .donate-text p{
        width: 35pc;
        margin: auto;
    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .donate-header {
        padding: 2rem 5rem 2rem 5rem;
    }

    .donate-text p{
        width: 50pc;
        padding-bottom: 2rem;
    }

}

@media screen and (min-width: 1578px) {
    .donate-header {
        padding: 2rem 10rem 2rem 10rem;
    }

    .donate-text p{
        width: 60pc;
        padding-bottom: 2rem;
    }
}





.donate-key{
    margin-top: 8rem;
    padding: 2rem;
    text-align: center;
}

.donate-key h2{
    font-weight: 700;
    letter-spacing: .5rem;
    padding: 1rem 0 0 0;
}

.donate-key h3{
    letter-spacing: .5rem;
    padding: 1rem 0 2rem 0;
    font-weight: 600;
}


.copy-text{
    position: relative;
    padding: 1rem;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.copy-text input.text{
    font-family: "Poppins", sans-serif;  
    font-size: 1rem;
    font-weight: 800;
    padding: 10px;
    color: #000;
    border: none;
    outline: none;
    letter-spacing: .5rem;
    text-align: center;
    margin: auto;
}

.copy-text button{
    padding: 1rem;
    color: #fff;
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: -.1rem;
}

.copy-text button img{
    width: 80%;
}

.copy-text button:active{
    background: var(--secondary-color);
}

.copy-text button::before{
    content: "copied";
    position: absolute;
    top: -45px;
    right: 0;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copy-text button::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}

.copy-text.active button::before,
.copy-text.active button::before{
    display: block;
}

@media screen and (min-width: 900px) {
    .copy-text input.text{
        font-family: "Poppins", sans-serif;  
        font-size: 2rem;
        letter-spacing: 2rem;
    }

    .copy-text button{
        padding: 1.5rem;
        width: 5rem;
        height: 5rem;
        margin-top: 0;
    }
    
    .copy-text button img{
        width: 100%;
    }

    .donate-key p{
        width: 40pc;
        margin: auto;
    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .donate-key {
        padding: 2rem 5rem 2rem 5rem;
    }

    .donate-key p{
        width: 60pc;
    }

}

@media screen and (min-width: 1578px) {
    .donate-key{
        padding: 2rem 10rem 2rem 10rem;
    }

    .donate-key p{
        width: 80pc;
    }
}







.team-header{
    margin-top: 9rem;
    padding: 2rem;
}

.team-text-header{
    text-align: center;
}

.strength{
    margin-top: -1rem;
}

.team-header img{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.team-header p{
    font-weight: 700;
}

@media screen and (min-width: 900px) {
    .team-header p{
        width: 70%;
        margin: auto;
        padding-top: 1rem;
    }
}



.team{
    padding: 2rem;
    margin-top: 3rem;
}

.team-holder{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.team-flex{
    display: flex;
    gap: 2rem;
}

.team-flex img{
    width: 50%;
}

.team-text{
    margin-top: 2rem;
}

.team-text h3{
    padding: .5rem 0 1rem 0;
    font-weight: 700;
}

.team-handle{
    display: flex;
    gap: 0;
    margin-top: 2rem;
}

.team-handle img{
    width: 15%;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .team-holder{
        flex-direction: row;
        gap: 10rem;
    }
    .team-header-p{
        width: 30pc;
        padding-bottom: 2rem;
    }

    .team-holder{
        margin-bottom: 4rem;
    }

    .last-team img{
        width: 25%;
    }

    .last-team-text{
        width: 25%;
    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .team {
        padding: 2rem 5rem 2rem 5rem;
    }
    .team-header-p{
        width: 50pc;
    }

    .team-holder{
        margin-bottom: 7rem;
    }
}

@media screen and (min-width: 1578px) {
    .team {
        padding: 2rem 10rem 2rem 10rem;
    }

    .team-flex img{
        height: 80%;
    }

    .team-header-p{
        width: 70pc;
    }
    .team-holder{
        margin-bottom: 10rem;
    }
}



/* GALLERY STARTS HERE  */
.gallery{
    width: 100vw;
    height: 100vh;
    margin-top: 10rem;
    padding: 4rem;
}

.gallery-text{
    text-align: center;
}

.gallery button{
    width: auto;
    margin: auto;
}

.gallery-pictures{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: scroll 20s linear infinite;
}

.gallery-pictures img{
    width: 50%;

}

@media screen and (min-width: 900px) {
    .gallery {
            padding: 8rem;
    }
    .gallery-pictures img {
        width: 30%;

    }
}

@media (min-width: 1242px) and (max-width: 1578px) {
    .gallery {
        padding-left: 10rem;
        padding-right: 10rem;

    }


    .gallery-pictures img {
        width: 25%;
    }
}

@media screen and (min-width: 1578px) {
.gallery-pictures img {
        width: 20%;
    }
}
